absl-py==2.1.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
albucore==0.0.17
albumentations==1.4.18
altair==4.0.0
altgraph==0.17.4
amqp==5.1.1
androguard==3.3.5
annotated-types==0.5.0
anyio==4.4.0
appdirs==1.4.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.3.1
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autobahn==24.4.2
Automat==24.8.1
babel==2.16.0
base58==2.1.1
bcrypt==4.1.1
beautifulsoup4==4.12.2
billiard==4.1.0
bitarray==3.0.0
bleach==6.2.0
blinker==1.7.0
blis==0.7.11
boto3==1.35.55
botocore==1.35.55
browser-history==0.3.2
bs4==0.0.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.2
capstone==5.0.3
catalogue==2.0.10
catboost==0.25
celery==5.3.1
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==3.3.0
ckzg==2.0.1
clang==5.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama==0.4.3
comm==0.2.2
confection==0.1.5
constantly==23.10.4
contextlib2==0.6.0
contourpy==1.2.0
crispy-bootstrap4==2022.1
cryptography==37.0.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
cytoolz==1.0.0
daphne==4.1.2
dataclasses-json==0.5.14
debugpy==1.8.2
decorator==4.4.2
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20200713
dill==0.3.5.1
distlib==0.3.0
distro==1.4.0
dj-database-url==2.0.0
Django==3.1.7
django-allauth==0.63.6
django-appconf==1.0.6
django-bootstrap-datepicker-plus==5.0.4
django-bootstrap-v5==1.0.11
django-bootstrap4==23.2
django-celery-results==2.5.1
django-cors-headers==4.4.0
django-countries==7.5.1
django-crispy-forms==1.9.2
django-etc==1.4.0
django-extensions==3.0.9
django-filter==23.2
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-hitcount==1.3.5
django-imagekit==5.0.0
django-import-export==2.4.0
django-jazzmin==2.4.4
django-logentry-admin==1.0.6
django-multiselectfield==0.1.13
django-phonenumber-field==7.1.0
django-social-share==2.3.0
django-storages==1.14.4
django-taggit==6.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
dominate==2.9.1
email-validator==2.2.0
entrypoints==0.3
et_xmlfile==1.0.1
eth_abi==5.1.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.1
executing==2.0.1
fastai==2.7.16
fastapi==0.112.2
fastcore==1.5.55
fastdownload==0.0.7
fastjsonschema==2.20.0
fastprogress==1.0.3
filelock==3.12.2
fire==0.7.0
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-JWT-Extended==3.24.1
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatbuffers==1.12
fontawesomefree==6.6.0
fonttools==4.45.0
fqdn==1.5.1
from-root==1.3.0
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.4.0
gdown==5.2.0
geojson==2.5.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.37.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.2.5
graphviz==0.20.3
greenlet==1.1.2
grpcio==1.68.1
gTTS==2.5.3
gunicorn==20.1.0
h11==0.14.0
h5py==3.1.0
hexbytes==1.2.1
html5lib==1.0.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.24.7
hyperlink==21.0.0
idna==2.8
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib-metadata==6.8.0
importlib_resources==6.4.0
incremental==24.7.2
install==1.3.5
instaloader==4.14
ipaddr==2.2.0
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.0.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
Keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kivy==2.3.0
kivy-deps.sdl2==0.6.0
kivy-deps.glew==0.6.0
kivy-deps.gstreamer==0.6.0
kivy-garden==0.1.5
kivy-examples==2.3.0
kivy-examples-dev==0.1.0
kivy-ios==2.0.0
kivy-designer==0.1.0
kivy-garden==0.1.5
krb5==1.20.1
lxml==4.9.2
Markdown==3.4.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
maxminddb==2.2.0
mccabe==0.7.0
mistune==2.0.5
mlflow==2.7.0
more-itertools==9.0.0
multidict==6.0.4
mysql-connector-python==8.0.30
nltk==3.8.1
nose==1.3.7
notebook==6.5.3
numba==0.56.4
numpy==1.23.4
oauthlib==3.2.2
opencv-python==4.6.0.66
opensearch-py==2.3.0
packaging==23.2
pandas==1.5.3
pandasql==0.7.3
parso==0.8.3
pathlib==1.0.1
Pillow==9.4.0
pipreqs==0.4.11
plotly==5.9.0
portalocker==2.7.0
prometheus-client==0.15.0
protobuf==3.19.6
psutil==5.9.4
psycopg2==2.9.6
pyarrow==11.0.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.17
pyinstaller==5.12.1
pyjwt==2.7.0
pylint==2.17.1
pyodbc==4.0.35
pyparsing==3.0.9
pyrsistent==0.19.2
pytesseract==0.4.8
pytest==7.2.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0
redis==4.6.0
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.3
rfc3986==1.5.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
selenium==4.8.2
sentencepiece==0.1.97
shap==0.41.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.1
sqlalchemy==2.1.0
statsmodels==0.13.2
svglib==1.0.1
sympy==1.12
tensorboard==2.11.2
tensorflow==2.11.0
tensorflow-addons==0.18.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-keras==2.11.0
tensorflow-text==2.11.0
termcolor==2.3.0
tesseract==5.3.1
texttable==1.6.7
thinc==8.1.8
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
torch==1.13.1
torchmetrics==0.11.4
tornado==6.2
tqdm==4.64.1
transformers==4.29.2
typing-extensions==4.7.1
tzdata==2024.1
urllib3==1.26.15
wandb==0.15.5
web3==5.30.0
werkzeug==2.1.2
win-inet-pton==1.1.0
xlrd==2.0.1
yarl==1.8.2
zipp==3.15.0
